.App {
  display: flex;
  align-items: space-between;
  justify-content: center;
  height: 100vh;
  position: relative;
  margin: 0 auto;
  width: 80%;
  flex-flow: column;
}

code {
  font-weight: bold;
  font-size: 18px;
}

.Anchor {
  position: relative;
}

.Description {
  position: absolute;
  top: 0;
  left: 0;
}

.Tooltips {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Center {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

.DarkTooltip {
  background-color: #333 !important;
  color: #FFF !important;
  fill: #FFF !important;
}

.IndianredTooltip {
  background-color: #cd5c5c !important;
  color: #FFF !important;
  fill: #FFF !important;
}

.GoldTooltip {
  background-color: gold !important;
  color: #FFF !important;
  fill: #FFF !important;
}

.OrangeTooltip {
  background-color: #ff7043 !important;
  color: #FFF !important;
  fill: #FFF !important;
}

.CustomButton {
  position: relative;
  color: #fff;
  outline: none;
  cursor: pointer;
  font: inherit;
  width: fit-content;
  user-select: none;
  border: 1px solid transparent;
  line-height: 1.5;
  border-radius: .25rem;
  font-weight: 600;
  font-weight: var(--font-bold-font-weight,600);
  padding: 10px 17px;
  padding: var(--spacing-button-vertical,10px) var(--spacing-button-horizontal,17px);
  box-shadow: none;
  box-shadow: var(--shadow-button-level0-box-shadow,none);
  transition: background-color .1s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,opacity .15s;
  background-color: #ff7043;
  max-width: 150px;
}

.CatTooltip {
  cursor: pointer;
  width: 124px;
  border-radius: 50%;
}