.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.TopLeft {
  position: absolute;
  top: 24px;
  left: 24px;
}

.TopCenter {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
}

.North {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

.TopRight {
  position: absolute;
  top: 24px;
  right: 24px;
}

.CenterLeft {
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
  left: 24px;
}

.Center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CenterRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
}

.BottomLeft {
  position: absolute;
  bottom: 24px;
  left: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BottomRight {
  position: absolute;
  bottom: 24px;
  right: 24px;
}

.DarkTooltip {
  background-color: #333 !important;
  color: #FFF !important;
  fill: #FFF !important;
}

.IndianredTooltip {
  background-color: #cd5c5c !important;
  color: #FFF !important;
  fill: #FFF !important;
}

.GoldTooltip {
  background-color: gold !important;
  color: #FFF !important;
  fill: #FFF !important;
}

.OrangeTooltip {
  background-color: #ff7043 !important;
  color: #FFF !important;
  fill: #FFF !important;
}

.CustomButton {
  position: relative;
  color: #fff;
  outline: none;
  cursor: pointer;
  font: inherit;
  width: fit-content;
  user-select: none;
  border: 1px solid transparent;
  line-height: 1.5;
  border-radius: .25rem;
  font-weight: 600;
  font-weight: var(--font-bold-font-weight,600);
  padding: 10px 17px;
  padding: var(--spacing-button-vertical,10px) var(--spacing-button-horizontal,17px);
  box-shadow: none;
  box-shadow: var(--shadow-button-level0-box-shadow,none);
  transition: background-color .1s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,opacity .15s;
  background-color: #ff7043;
  max-width: 150px;
}

.CatTooltip {
  cursor: pointer;
  width: 124px;
  border-radius: 50%;
}